@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

body {
    background-image: linear-gradient(21deg, rgba(64, 83, 206, 0.3697003235) 68%, rgba(255, 206, 196, 0.5) 163%), linear-gradient(163deg, rgba(49, 146, 170, 0.0794448997) 86%, rgba(239, 112, 138, 0.5) 40%), linear-gradient(30deg, rgba(76, 79, 173, 0.6173675717) 22%, rgba(237, 106, 134, 0.5) 169%), linear-gradient(48deg, rgba(31, 85, 147, 0.7323890642) 64%, rgba(247, 126, 132, 0.5) 43%);
    background-blend-mode: overlay, multiply, color, normal;
}

html,
body,
#container {
    direction: rtl;
    font-family: Vazir;
    min-height: 650px;
}

#container {
    background-color: rgb(241, 241, 241);
    width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.accMenu {
    direction: rtl;
    text-align: center;
}

.accMenu .accTitle {
    display: inline-block;
    background-color: #ddd;
    border: 1px solid #eaeaea;
    padding: 10px 7px;
    border-radius: 10px;
    font-family: 'Vazir';
}

.accMenu .accTitle:hover {
    background-color: #eee;
    cursor: pointer;
}

.accMenu .accContent {
    background-color: #fafafa;
    color: #555;
    padding: 7px;
    font-family: 'Vazir';
    border: 1px solid #eaeaea;
    display: none;
    font-size: 18px;
    min-height: 490px;
    border-radius: 10px;
}

.accMenu .accTitles .defaultTab {
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa;
}

.accMenu .default {
    display: block;
}

h1 {
    margin-bottom: 60px;
}

input,
button {
    font-family: 'Vazir';
    display: block;
    margin: 30px auto;
    font-size: 16px;
    border-radius: 10px;
    box-sizing: border-box;
}

input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #44ded0;
    padding: 20px;
    font-family: Vazir;
}

button {
    background-color: #44ded0;
    padding: 6px 15px;
    border-radius: 7px;
    font-size: 16px;
    height: 50px;
    cursor: pointer;
}

.success {
    background-color: #b0f5b0;
    padding: 10px;
    border-radius: 7px;
    color: #1cb327;
}

.error {
    background-color: #f59e9e;
    border-radius: 7px;
    padding: 10px;
    color: #a02727;
}

.no-show {
    display: none;
}

.show {
    display: block;
}

form {
    position: relative;
}

#rememberMe {
    width: 15px;
    height: 15px;
    display: inline !important;
    margin: 0 5px;
}


/* responsive layout */


/* for mobile phones */

@media screen and (max-width: 900px) {
    #container {
        width: 100%;
    }
}