@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

body {
    background-image: linear-gradient(21deg, rgba(64, 83, 206, 0.3697003235) 68%, rgba(255, 206, 196, 0.5) 163%), linear-gradient(163deg, rgba(49, 146, 170, 0.0794448997) 86%, rgba(239, 112, 138, 0.5) 40%), linear-gradient(30deg, rgba(76, 79, 173, 0.6173675717) 22%, rgba(237, 106, 134, 0.5) 169%), linear-gradient(48deg, rgba(31, 85, 147, 0.7323890642) 64%, rgba(247, 126, 132, 0.5) 43%);
    background-blend-mode: overlay, multiply, color, normal;
}

html,
body,
#container {
    direction: rtl;
    text-align: right;
    font-family: Vazir;
    min-height: 650px;
}

a {
    text-decoration: none;
    color: #606060;
}

#container {
    width: 75%;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 5px 0 black;
}

#container h2,
#container h3 {
    text-align: center;
}

#container h2 {
    margin-top: 45px;
    font-size: 27px;
}

#container h3 {
    color: #44ded0;
}

ul {
    padding: 0;
    margin: 0;
}

#container li {
    margin: 8px auto;
    padding: 10px;
    width: 90%;
    list-style-type: arabic-indic;
    background-color: #abfdf6;
    border-radius: 10px;
}

#guide {
    position: absolute;
    top: 15px;
    font-size: 15px;
    color: #b1b1b1;
    width: 100%;
    text-align: center;
}

#container input {
    height: 35px;
    border-radius: 10px;
    border: 1px solid #44ded0;
    padding-right: 10px;
    font-family: Vazir;
    width: 60%;
    margin-bottom: 20px;
}

#bahaInput {
    text-align: center;
}

#nReasonInput {
    text-align: center;
}

#pReasonInput {
    text-align: center;
}

#return {
    padding: 5px 10px;
    height: 38px;
    border-radius: 7px;
    border: 1px solid #44ded0;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 35px;
    font-family: Vazir;
    background-color: #44ded0;
    line-height: 200%;
}

#return:hover {
    opacity: 0.7;
}

a.more {
    text-align: center;
    font-size: 12px;
    background-color: #eaeaea;
    padding: 5px 7px;
    border-radius: 5px;
    display: block;
    margin-bottom: 34px;
    width: 10%;
    margin: 32px auto;
    cursor: pointer;
}

#moreExp {
    text-align: justify;
    padding: 20px;
    display: none;
    line-height: 200%;
    font-size: 20px;
}


/* accordion menu */

.accMenu {
    direction: rtl;
}

.accMenu .accTitle {
    padding: 5px 10px;
    border: 1px solid #eaeaea;
    font-size: 18px;
    border-radius: 5px;
    font-family: Vazir;
    margin: 3px 0;
    text-align: center;
}

.accMenu .accTitle:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.accMenu .accContent {
    background-color: #fafafa;
    padding: 15px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    color: #555;
    font-size: 18px;
    font-family: Vazir;
    text-align: justify;
    display: none;
}

.remove {
    color: #e33030;
    font-size: 20px;
    float: left;
    font-weight: 100;
    cursor: pointer;
}

.bb {
    height: 400px;
}

.sab {
    position: absolute;
    right: 180px;
    font-family: Vazir;
}

.DBox {
    min-height: 350px;
}

.cancelb {
    font-family: Vazir;
    position: absolute;
    right: 135px;
}

.confirmb {
    font-family: Vazir;
    position: absolute;
    right: 200px;
}

.swal-text {
    text-align: center !important;
}


/* responsive layout */


/* for mobile phones */

@media screen and (max-width: 900px) {
    #container {
        width: 99%;
        margin: 10px auto;
    }
    #guide {
        font-size: 14px;
        line-height: 200%;
        width: 85%;
    }
    a.more {
        font-size: 8px;
        line-height: 200%;
        margin: 50px auto;
    }
    #container h2 {
        font-size: 19px;
    }
    #container input {
        width: 95%;
    }
    #moreExp p {
        font-size: 16px;
        line-height: 200%;
    }
}