@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

body {
    background-image: linear-gradient(21deg, rgba(64, 83, 206, 0.3697003235) 68%, rgba(255, 206, 196, 0.5) 163%), linear-gradient(163deg, rgba(49, 146, 170, 0.0794448997) 86%, rgba(239, 112, 138, 0.5) 40%), linear-gradient(30deg, rgba(76, 79, 173, 0.6173675717) 22%, rgba(237, 106, 134, 0.5) 169%), linear-gradient(48deg, rgba(31, 85, 147, 0.7323890642) 64%, rgba(247, 126, 132, 0.5) 43%);
    background-blend-mode: overlay, multiply, color, normal;
}

html,
body,
#container {
    direction: rtl;
    font-family: Vazir;
    min-height: 650px;
}

#container {
    background-color: rgb(241, 241, 241);
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
}

hr {
    width: 60%;
}

input,
button,
a {
    font-family: Vazir;
}

input,
a {
    height: 35px;
    border-radius: 10px;
    width: 60%;
    border: 1px solid #44ded0;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=password] {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

button,
a {
    padding: 6px 15px;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

button#save {
    background-color: #44ded0;
    border: 5px solid #44ded0;
}

button:hover,
a:hover {
    box-shadow: 3px 3px 3px gray;
}

a {
    text-decoration: none;
    color: black;
}

.bb {
    height: 400px;
}

.sab {
    position: absolute;
    right: 180px;
    font-family: Vazir;
}

table {
    background-color: rgb(235, 235, 235);
    margin: 50px auto;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
}

table tr td {
    padding: 5px;
}

#about ul li a {
    font-size: 12px;
}

#about ul li {
    text-align: justify;
    line-height: 200%;
}

@media screen and (max-width: 900px) {
    #container {
        width: 100%;
        margin: 0 auto;
        padding: 3px;
    }
}