@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

body {
    background-color: #e2e0e5;
}

html,
body,
#container {
    direction: rtl;
    text-align: right;
    font-family: Vazir;
    min-height: 650px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #606060;
    font-size: 16px;
}

.baha {
    font-size: 20px;
    float: left;
    font-weight: 100;
}

.baha:hover {
    font-weight: bolder;
    cursor: pointer;
}

.remove {
    font-size: 20px;
    float: left;
    font-weight: 100;
}

.remove:hover {
    font-weight: bolder;
    cursor: pointer;
}


/* header settings */

#header {
    width: 98%;
    margin: 0px auto;
    background-color: #ffffff;
    padding: 0 10px 0 10px;
    background-image: url('../img/polaris_logo.png');
    background-position: center;
    background-size: 220px;
    background-repeat: no-repeat;
    height: 158px;
    position: relative;
    border-right: 1px solid rgb(173, 173, 173);
    border-left: 1px solid rgb(173, 173, 173);
}

#header h1 {
    position: absolute;
    font-size: 14px;
    top: 88px;
    right: 50%;
    color: #17bda9
}

#goalsManager,
#tasksManager {
    position: absolute;
    top: 96px;
    border-top: 1px solid #dbdbdb;
    padding-top: 6px;
}

#goalsManager li,
#tasksManager li {
    list-style-type: none;
    display: inline-block;
}

#goalsManager a,
#tasksManager a {
    padding: 3px 12px;
}

#goalsManager a:hover,
#tasksManager a:hover {
    border-bottom: 3px solid blue;
    color: blue;
}

#header2 {
    width: 98%;
    margin: 0 auto;
    background-color: #17bda9;
    padding: 0 10px 0 10px;
    border-radius: 0 0 35px 35px;
    text-align: center;
    position: relative;
}

#header2 p span {
    color: green;
}

.clear {
    clear: both;
}

img {
    margin-left: 5px;
    vertical-align: middle;
}

#profileImg {
    border-radius: 7px;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 5px;
}

.all {
    color: white;
}


/* main container settings */

#container {
    width: 98%;
    margin: 0 auto;
    display: flex;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: #ffab73;
}


/* sidebar is the right side column */

#sidebar {
    background-color: #ff7f2a;
    padding: 10px;
    flex-grow: 1;
    color: white;
}

#sidebar ul li a {
    color: white;
}


/* tasks is the left side column (The main window) */

#tasks {
    padding: 10px;
    flex-grow: 4;
}


/* setting for all the ul tags of the page */

#container ul {
    margin: 0;
    padding: 12px;
}

#container ul li {
    list-style-type: none;
    margin-bottom: 15px;
    padding: 3px 5px 3px 10px;
    font-size: 18px;
}

#sidebar ul li {
    font-size: 15px;
    position: relative;
}

#container input {
    height: 35px;
    border-radius: 10px;
    border: 1px solid #44ded0;
    padding-right: 10px;
    font-family: Vazir;
}

#container input:focus,
#search input:focus {
    box-shadow: 0px 0px 8px 2px #44ded0 outset;
    -moz-box-shadow: 0px 0px 8px 2px #44ded0 outset;
    -webkit-box-shadow: 0px 0px 8px 2px #44ded0 outset;
    border: 0;
    background-color: #eee;
    border-radius: 10px;
}

#container button {
    padding: 5px 10px;
    height: 38px;
    border-radius: 7px;
    border: 1px solid #44ded0;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 35px;
    font-family: Vazir;
}

#container button:hover {
    opacity: 0.7;
}

#search input,
#search button {
    margin-bottom: 30px;
    float: right;
}

#search input {
    height: 38px;
    margin-left: 5px;
    width: 85%;
}

span.searchDate {
    background-color: #ececec;
    position: absolute;
    left: 10%;
    padding: 5px 20px;
    border-radius: 7px;
}

#pagination {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#pagination span,
#pagination strong {
    padding: 5px 12px;
    border: 1px solid #dad9d9;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

#pagination strong {
    background-color: #dad9d9;
}


/* titr is the the first bar of task window. I made this div for arranging the title, date and input tag in a suitable position using flexboxes */

#titr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#titr h2 {
    flex-grow: 1;
}

#titr span {
    flex-grow: 2;
}

#titr div {
    flex-grow: 2;
}

#addNewCategoryBox {
    display: flex;
}

#addNewTask {
    width: 90%;
}

#sidebar input {
    width: 100%;
}

select#daySelect,
select#yearSelect,
select#whichPart {
    margin: 0 -2px 0 -2px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #44ded0;
    padding-right: 10px;
    font-family: Vazir;
}

input {
    width: 57%;
}


/* setting for the active (chosen) category */

.active {
    color: #4b7370;
    background-color: #44ded0;
    padding-right: 15px;
    border-radius: 5px;
}


/* setting for the done tasks */

.done {
    color: green;
    background-color: #a4eaa4;
    border-radius: 10px;
    padding-right: 10px;
}

.clickable {
    cursor: pointer;
}


/* .decisions .remove,
.goals .remove,
.assessment .remove,
.goals .baha,
.decisions .baha,
.assessment .baha {
    float: none;
    display: inline-block;
    text-align: center;
    margin-top: 22px;
} */


/* styles for tabs */


/* accMenu {
    direction: rtl;
    text-align: justify;
}

.accMenu .accTitle {
    display: inline-block;
    background-color: #ddd;
    border: 1px solid #eaeaea;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: 'Vazir';
    font-size: 16px;
}

.accMenu .accTitle:hover {
    background-color: #eee;
    cursor: pointer;
}

.accMenu .accContent {
    background-color: #ffffff;
    color: #555;
    padding: 7px;
    font-family: 'Vazir';
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    display: none;
}

.accMenu .accTitles .defaultTab {
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa;
}

.accMenu .default {
    display: block;
} */

.accMenu .accTitle {
    margin: 5px auto;
    padding: 6px 12px 8px;
    background-color: #eee;
    border: 1px solid #eaeaea;
    font-size: 20px;
    font-family: "B Yekan";
    text-align: center;
    border-radius: 10px;
    width: 95%;
}

.accMenu .accTitle:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.accMenu .accContent {
    background-color: #fafafa;
    padding: 12px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    color: #555;
    font-size: 18px;
    text-align: right;
    display: none;
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
    width: 92%;
    margin: 0 auto;
}

.accContent li {
    padding: 20px !important;
    margin: 0 !important;
}


/* setting for single button of sweet alert */

.bb {
    height: 400px;
}

.sab {
    position: absolute;
    right: 180px;
    font-family: Vazir;
}


/* setting for double buttons of sweet alert */

.DBox {
    min-height: 350px;
}

.cancelb {
    font-family: Vazir;
    position: absolute;
    right: 135px;
}

.confirmb {
    font-family: Vazir;
    position: absolute;
    right: 200px;
}

.swal-text {
    text-align: center !important;
}


/* setting for goalManager page */

input#psearchg {
    width: 57%;
}

.goals,
.decisions,
.assessment {
    background-color: #fff;
    width: 32%;
    float: right;
    margin-right: 1%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(201, 201, 201);
    -moz-box-shadow: 0 0 3px rgb(201, 201, 201);
    -webkit-box-shadow: 0 0 3px rgb(201, 201, 201);
}

fieldset#annualGoals {
    background-color: #c9f3ef;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 3px 3px 5px 0px #ececec;
    -moz-box-shadow: 3px 3px 5px 0px #ececec;
    -webkit-box-shadow: 3px 3px 5px 0px #ececec;
}

legend {
    background-color: #c9f3ef;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: -15px;
}

.subheading {
    text-align: center;
    margin: 0;
    font-size: 25px;
    color: #02d4c0;
    margin-bottom: 20px;
}

fieldset legend select {
    height: 35px;
    border-radius: 10px;
    border: 1px solid #44ded0;
    padding-right: 10px;
    font-family: Vazir;
    width: 100px;
    font-size: 16px;
    margin-right: 10px;
}

.goals input,
.decisions input,
.assessment input {
    width: 95% !important;
}

#searchp {
    font-size: 12px;
    margin-bottom: 0;
}

.searchIcon {
    display: none;
}

.days {
    width: 15px !important;
    height: 15px !important;
}

label {
    font-size: 12px;
}

.daysLabel {
    font-size: 14px;
    background-color: #c9f3ef;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#daySelect {
    margin-bottom: 10px;
    border-radius: 5px;
    padding-bottom: 0px;
    border: none;
    background-color: #f5f8ff;
}

#daySelect legend {
    font-size: 14px;
}

#invisible {
    color: gray;
    font-size: 12px;
    cursor: pointer;
}


/* styles for primary list page */

#bg {
    background-image: linear-gradient(21deg, rgba(64, 83, 206, 0.3697003235) 68%, rgba(255, 206, 196, 0.5) 163%), linear-gradient(163deg, rgba(49, 146, 170, 0.0794448997) 86%, rgba(239, 112, 138, 0.5) 40%), linear-gradient(30deg, rgba(76, 79, 173, 0.6173675717) 22%, rgba(237, 106, 134, 0.5) 169%), linear-gradient(48deg, rgba(31, 85, 147, 0.7323890642) 64%, rgba(247, 126, 132, 0.5) 43%);
    background-blend-mode: overlay, multiply, color, normal;
    margin: 0;
    padding: 0;
}

#containerPL {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 600px;
    box-shadow: 0 0 5px 0 black;
}

#containerPL h2 {
    text-align: center;
}

#containerPL hr {
    width: 175px;
}

#containerPL ol {
    padding: 20px;
}

#containerPL ol li {
    background-color: #f5f8ff;
    padding: 15px;
    margin-bottom: 11px;
    border-radius: 10px;
}


/* #divInsideList {
    display: flex;
    justify-content: space-between;
} */

#inputPL {
    height: 35px;
    border-radius: 10px;
    border: 1px solid #44ded0;
    padding-right: 10px;
    font-family: Vazir;
    width: 50%;
}

.return {
    padding: 5px 10px;
    height: 38px;
    border-radius: 7px;
    border: 1px solid #44ded0;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 35px;
    font-family: Vazir;
    background-color: #44ded0;
    line-height: 200%;
    text-align: center;
}

select#selectPL {
    margin: 0 -2px 0 -2px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #44ded0;
    padding-right: 10px;
    font-family: Vazir;
    width: 200px;
}

#containerPL button {
    padding: 5px 10px;
    height: 38px;
    border-radius: 7px;
    border: 1px solid #44ded0;
    font-size: 15px;
    cursor: pointer;
    font-family: Vazir;
}

#guide {
    font-size: 12px;
    color: gray;
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

#goalsManagerM {
    display: none;
}

.returnM {
    display: none;
}


/* Responsive layout */


/* for tablets */


/* @media screen and (max-width: 800px) {
    #container {
        flex-direction: column;
    }
    #titr {
        flex-direction: column;
    }
    #titr input {
        margin-top: 10px;
        width: 100%;
    }
    #titr button.addNewBtn {
        font-size: 12px;
        height: 27px;
        margin-top: 5px;
    }
}

.success {
    width: 50%;
    background-color: #7bd77b;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    color: #063706;
    font-size: 20px;
} */


/* for mobile phones */

@media screen and (max-width: 900px) {
    #container {
        flex-direction: column;
    }
    #header {
        background-size: 170px;
        height: 77px;
        border-radius: 35px 35px 0 0;
    }
    #header h1 {
        font-size: 12px;
        top: 43px;
    }
    #goalsManager {
        display: none;
    }
    #goalsManagerM {
        display: flex;
        padding: 0;
        margin: 0 auto;
        background-color: white;
        position: fixed;
        bottom: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    #goalsManagerM li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    #goalsManagerM li a {
        font-size: 12px;
        padding: 5px 10px;
    }
    #goalsManagerM img {
        display: block;
        margin: 0 auto;
    }
    #titr {
        flex-direction: column;
        margin-bottom: -48px;
    }
    #titr input {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    #titr button {
        display: none;
        /* font-size: 12px; */
        height: 27px;
        margin-top: 5px;
        margin: 0 auto;
    }
    input.toBeInvisible {
        width: 60% !important;
    }
    select#daySelect {
        width: 20%;
    }
    #daySelect legend {
        margin: 0 auto;
    }
    #daySelect+button.addNewBtn {
        width: 12%;
    }
    input#psearchg {
        width: 49%;
        font-size: 13px;
    }
    #addNewTask {
        width: 80%;
    }
    select#whichPart {
        width: 32%;
    }
    div#tasksManager {
        margin: 26px 0;
        font-size: 12px;
        position: relative;
        top: -218px;
        left: -11px;
    }
    .goals,
    .decisions,
    .assessment {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    #psearch {
        width: 100% !important;
    }
    span.searchDate {
        left: 26%;
    }
    #header a {
        font-size: 12px;
    }
    #titr h2 {
        margin-top: 50px;
    }
    .searchIcon {
        display: inline;
        padding: 0 7px;
        cursor: pointer;
    }
    #search {
        opacity: 0;
        width: 100%;
    }
    #searchForGoals {
        opacity: 0;
    }
    #containerPL {
        width: 98%;
    }
    select#selectPL {
        width: 100px;
    }
    #divInsideList span {
        font-size: 12px;
    }
    #inputPL {
        width: 98%;
    }
    .accMenu .accTitle {
        width: 95%;
    }
    .accMenu {
        margin-top: 70px;
    }
    #programmer {
        margin-bottom: 60px;
    }
    footer {
        font-size: 12px;
    }
    .return {
        display: none;
    }
    .returnM {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 5px 10px;
        height: 30px;
        border-radius: 7px;
        border: 1px solid #44ded0;
        font-size: 15px;
        cursor: pointer;
        margin-bottom: 35px;
        font-family: Vazir;
        background-color: #44ded0;
        line-height: 200%;
        text-align: center;
    }
    #guide {
        margin-top: 50px;
    }
}

#copyright,
#programmer {
    text-align: center;
    color: #333;
}

#copyright {
    margin-top: 13px;
}